<div class="col-12 justify-content-center">
    <div class="col-12">
        <form>
            <mat-tab-group>
                <mat-tab label="Datos personales">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Nombres</label>
                            <input type="text" class="form-control" id="txtNombres" placeholder="Nombres">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Apellido paterno</label>
                            <input type="text" class="form-control" id="txtApellidoPaterno" placeholder="Apellido paterno">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Apellido materno</label>
                            <input type="text" class="form-control" id="txtApellidoMaterno" placeholder="Apellido materno">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Correo</label>
                            <input type="email" class="form-control" id="txtCorreo" placeholder="Correo">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Telefono</label>
                            <input type="number" class="form-control" id="txtTelefono" placeholder="Telefono">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Nacionalidad</label>
                            <input type="text" class="form-control" id="txtNacionalidad" placeholder="Nacionalidad">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Otra nacionalidad</label>
                            <input type="text" class="form-control" id="txtOtraNacionalidad" placeholder="Otra nacionalidad">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Pais de nacimiento</label>
                            <input type="text" class="form-control" id="txtPaisNacimiento" placeholder="Pais de nacimiento">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="txtFechaNacimiento" placeholder="Fecha de nacimiento">
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Dirección">
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label for="inputEmail4">Calle</label>
                            <input type="text" class="form-control" id="txtCalle" placeholder="Calle">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Numero interior</label>
                            <input type="text" class="form-control" id="txtNumeroInterior" placeholder="Numero interior">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Numero exterior</label>
                            <input type="text" class="form-control" id="txtNumeroExterior" placeholder="Numero exterior">
                        </div>
                        <div class="form-group col-md-3">
                            <label for="inputPassword4">Codigo postal</label>
                            <input type="number" class="form-control" id="txtCodigoPostal" placeholder="Codigo postal">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Colonia</label>
                            <input type="text" class="form-control" id="txtColonia" placeholder="Colonia">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Delegacion</label>
                            <input type="text" class="form-control" id="txtDelegacion" placeholder="Delegacion">
                        </div>

                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Poblacion</label>
                            <input type="text" class="form-control" id="txtPoblacion" placeholder="Poblacion">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Estado</label>
                            <input type="text" class="form-control" id="txtEstado" placeholder="Estado">
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="Datos laborales">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Ocupacion</label>
                            <input type="text" class="form-control" id="txtOcupacion" placeholder="Ocupacion">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">FIEL</label>
                            <input type="text" class="form-control" id="txtFiel" placeholder="FIEL">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Ingreso anual</label>
                            <input type="number" class="form-control" id="txtIngresoAnual" placeholder="Ingreso anual">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">RFC</label>
                            <input type="text" class="form-control" id="txtRfc" placeholder="RFC">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">CURP</label>
                            <input type="text" class="form-control" id="txtCurp" placeholder="CURP">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputPassword4">Nombre de la tercera persona que firma</label>
                            <input type="text" class="form-control" id="txtTercera" placeholder="Nombre de la tercera persona que firma">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Registro fiscal extranjero</label>
                            <input type="text" class="form-control" id="txtRegistroExtranjero" placeholder="Registro fiscal extranjero">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">TIN</label>
                            <input type="text" class="form-control" id="txtTin" placeholder="TIN">
                        </div>

                    </div>
                </mat-tab>
            </mat-tab-group>
            <div class="col-10 align-content-center">
                <button type="submit" class="btn btn-primary">Registrar</button>
                <button type="button" class="btn btn-light">Limpiar campos</button>

            </div>
        </form>
    </div>
</div>